BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 80
BreakAfterBinaryOperators: true

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false

AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false 